.app-container {
}

.posts-title {
  font-size: 22px;
  font-weight: bold;
}

.card {
  margin-top: 10px;
  &:last-child {
    margin-bottom: 100px;
  }
}

.card-title {
  text-decoration: underline;
}
